$font-size: 1rem;
$background-color: white;
$font-color: #dae0e0;
$page-width: 650px;

html {
  font-size: $font-size;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: 0;
  max-width: $page-width;
}

h1 {
  margin: 0 0 2rem;
}

:root {
  --black: black;
  --eye-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.face {
  position: absolute;
}

.eye {
  position: absolute;
  background: white;
  width: var(--eye-size);
  height: var(--eye-size);
  border: 1px solid var(--black);
  border-radius: 50%;
}

.inner {
  top: 0;
  left: 0;
  position: absolute;
  width: 60%;
  height: 60%;
  background: var(--black);
  border-radius: 50%;
}
