@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@import "variables";
@import "scaffolding";

:root {
  --black: black;
  --eye-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.face {
  position: relative;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.eye {
  position: absolute;
  background: white;
  width: var(--eye-size);
  height: var(--eye-size);
  margin: auto;
  border: 1px solid var(--black);
  border-radius: 50%;
}

.left {
  left: 340px;
  top: 250px;
}
.right {
  left: 460px;
  top: 250px;
}

.inner {
  top: 0;
  left: 0;
  position: absolute;
  width: 60%;
  height: 60%;
  background: var(--black);
  border-radius: 50%;
}

/* debugging boundaries */
/* .eye:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: lightgreen;
}
.inner:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: pink;
} */
