.googly-eyes,
.GooglyOptions {
  --black: #333333;
  --white: white;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --transparent-light-black: rgba(0, 0, 0, 0.05);
  --page-width: 650px;
  --eye-size: 20px;

  --mid-eye: #6e7b7d;
  --blue-retina: #1bafdd;
  --glam-retina: pink;
  --stoned-retina: lightblue;
  --sleepy-retina: green;
  --droopy-retina: magenta;
  --cat-retina: purple;
  --random-retina: cornsilk;
}
.googly-eyes .face {
  position: absolute;
  z-index: 1;

  .eye {
    position: absolute;
    background: white;
    width: var(--eye-size);
    height: var(--eye-size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--transparent-light-black);
    z-index: 2;

    .none {
      display: none;
    }

    .inner {
      top: 0;
      left: 0;
      position: absolute;
      width: 60%;
      height: 60%;
      z-index: 1;
      border-radius: 50%;
    }

    &.normal .inner {
      background: var(--black);
    }
    &.blue .inner {
      background: var(--blue-retina);
    }
    &.glam .inner {
      background: var(--glam-retina);
    }
    &.stoned .inner {
      background: var(--stoned-retina);
    }
    &.sleepy .inner {
      background: var(--sleepy-retina);
    }
    &.droopy .inner {
      background: var(--droopy-retina);
    }
    &.cat .inner {
      background: var(--cat-retina);
    }
    &.random .inner {
      background: var(--random-retina);
    }
  }
}
